$white: hsl(0, 0%, 100%);
$main: hsl(172, 67%, 45%);
$dark-main: hsl(183, 100%, 15%);
$grey: hsl(186, 14%, 43%);
$grey-cyan: hsl(184, 14%, 56%);
$light-greylish-cyan: hsl(185, 41%, 84%);
$very-light-greylish-cyan: hsl(189, 41%, 97%);
$error: hsl(0, 81%, 50%);

// Font size (form inputs): 24px